.fade.in {
  opacity: 1;
}
.chat-loading {
 background: no-repeat center url("http://ziremm.az/img/photo-loader.gif");
}
.chat-failed, .chat-show {
  background: none;
}

.connect-warning {
  left: 40%;
}
